body {
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
}

img {
	height: 100%;
	width: 100%;
}

nav {
	background-color: yellow;
	height: 3em
}

.div_lohko {
	width: 49%;
	display: inline-block;
	padding-top: 1em;
}

.div_main {
	padding-left: 2em;
	padding-right: 2em;
}

.div_twitter {
	border-right: solid 3px;
	border-color: blue;
}
