<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSM Developers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="javascriptit.js"></script> -->
</head>
<body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="" >Show all</a>
                <a class="navbar-brand" href="">Twitter
                  <!-- <img src="{{ url_for('static', filename='TwitterLogo_#55acee.png')}}" alt="Twitter" class="twitter_logo"> -->
                </a>
                <a class="navbar-brand" href="">Instagram</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-md-6" name="sisalto">
                            <a class="twitter-timeline"  href="https://twitter.com/hashtag/jyv%C3%A4skyl%C3%A4" data-widget-id="659317235178192896">#jyväskylä Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
                <!--
               <h2>Twitter</h2>
               {% for item in tweets %}
               <div class="thumbnail">
                   <!--<fieldset>
                       <legend>{{ item[0] }}:</legend>
                       <p>{{ item[1] }}</p>
                       <img src="{{ item[3] }}" class="img-responsive img-rounded" alt="Kuvaa ei ole">
                   <!--</fieldset>
                </div>
                {% endfor %} -->
            </div>

            <div class="col-md-6" id="div_insta">
                <h2>Instagram</h2>
                {% for item in tweets %}
                <div name="update">
                    <fieldset>
                        <legend>{{ item[0] }}:</legend>
                        <p>{{ item[1] }}</p>
                        <img src="{{ item[3] }}" alt="Kuvaa ei ole">
                     </fieldset>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- {{ testimuuttuja }} -->
    </div>
</body>
</html>
