<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <title>SSM Developers</title>
    	    <link rel="stylesheet" href="main.css">
    </head>
    <body>
	<div name="sisalto">
    	{% for item in tweets %}
		<div name="update">
        		<fieldset>
				<legend>{{ item[0] }}:</legend>
				<p>{{ item[1] }}</p>
				<img src="{{ item[3] }}" style="width:124px;height:124px;" alt="Kuvaa ei ole">
			</fieldset>
		</div>
    	{% endfor %}
	</div>
	{{ testimuuttuja }}
    </body>
</html>
